Source: python-plow
Section: python
Priority: optional
Maintainer: Vincent Vinet <vvinet@revolutionlinux.com>
Build-Depends: debhelper (>= 7), cdbs, python-support, python (>= 2.6.0-0)
Standards-Version: 3.8.0
 
Package: python-plow
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-ldap (>= 2.3.10)
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: python-ldap object wrapper
